<nav class="w-full border-b">
  <div class="flex justify-between mx-auto">
    <div class="flex items-center sm:px-4 px-1 pc-only">
      <h1 class="text-xl font-bold p-2"><%= user_signed_in? ? link_to(image_tag('logo.png', size: '55x55'), root_path) : link_to(image_tag('logo.png', size: '80x80'), new_user_session_path) %></h1>
    </div>
    <div class="flex items-center sm:px-4 px-1 sp-only">
      <h1 class="text-xl font-bold p-2"><%= user_signed_in? ? link_to(image_tag('logo.png', size: '45x45'), root_path) : link_to(image_tag('logo.png', size: '45x45'), new_user_session_path) %></h1>
    </div>
    <!-- PC -->
    <% if user_signed_in? %>
      <div class="px-4 px-1 pc-only" data-controller="header">
        <div class="flex items-center py-2 cursor-pointer hover:bg-slate-100" data-action="click->header#dropDownMenu">
          <% if current_user.image.attached? %>
            <%= image_tag(image_url_helper(current_user.image.variant(resize_to_fill: [100,100])), class: "ml-1 w-12 h-12 rounded-full") %>
          <% else %>
            <%= image_tag('no-user-image.jpg', size: '100x100', class: "w-12 h-12 rounded-full border ml-1") %>
          <% end %>
          <p class="px-1 ml-2"><%= current_user.name.present? ? current_user.name : current_user.email %></p>
        </div>
        <div class="text-center hidden absolute right-0 px-4 border z-20 bg-white w-60" data-header-target="menu">
          <div class="border-b py-2"><%= link_to t('headers.my_page'), user_path(current_user), class: "normalLink" %></div>
          <div class="border-b py-2"><%= link_to t('headers.my_advrials'), user_advrials_path(current_user), class: "normalLink" %></div>
          <div class="border-b py-2"><%= link_to t('headers.logout'), destroy_user_session_path, data: { turbo_method: :delete }, class: "normalLink" %></div>
        </div>
      </div>

      <!-- SP -->
      <div class="px-4 px-1 sp-only" data-controller="header">
        <div class="flex items-center py-2 cursor-pointer" data-action="click->header#dropDownMenu">
          <%= image_tag('sp-menu.png', size: '100x100', class: "w-9 p-1") %>
        </div>
        <div class="text-center hidden absolute right-0 px-4 border w-screen z-20 bg-white" data-header-target="menu">
          <div class="flex items-center justify-center border-b py-1">
            <%= link_to(user_path(current_user), class: "flex items-center") do %>
              <% if current_user.image.attached? %>
                <%= image_tag(image_url_helper(current_user.image.variant(resize_to_fill: [100,100])), class: "w-12 h-12 rounded-full p-1") %>
              <% else %>
                <%= image_tag('no-user-image.jpg', size: '100x100', class: "w-12 h-12 rounded-full border") %>
              <% end %>
              <p class="ml-2"><%= current_user.name.present? ? current_user.name : current_user.email %></p>
            <% end %>
          </div>
          <div class="border-b py-2"><%= link_to t('headers.my_advrials'), user_advrials_path(current_user), class: "normalLink" %></div>
          <div class="border-b py-2"><%= link_to t('headers.logout'), destroy_user_session_path, data: { turbo_method: :delete }, class: "normalLink" %></div>
        </div>
      </div>
    <% end %>
  </div>
</nav>