<nav class="w-full border-b">
  <div class="flex justify-between mx-auto">
    <div class="flex items-center sm:px-4 px-1">
      <h1 class="text-xl font-bold px-2">Advrial</h1>
    </div>
    <!-- PC -->
    <% if user_signed_in? %>
      <div class="px-4 px-1 pc-only" data-controller="header">
        <div class="flex items-center py-2 cursor-pointer" data-action="click->header#dropDownMenu">
          <% if current_user.image.attached? %>
            <%= image_tag(image_url_helper(current_user.image.variant(resize_to_fill: [100,100])), class: "w-12 h-12 rounded-full") %>
          <% else %>
            <%= image_tag('no-user-image.png', size: '100x100', class: "w-12 h-12 rounded-full border p-1") %>
          <% end %>
          <p class="px-1 ml-2"><%= current_user.name.present? ? current_user.name : current_user.email %></p>
        </div>
        <div class="text-center hidden absolute right-0 p-4 border z-20 bg-white" data-header-target="menu">
          <div class="border-b"><%= link_to "マイページ", user_path(current_user) %></div>
          <div class="border-b"><%= link_to 'アドリアル一覧', user_advrials_path(current_user) %></div>
          <div class="border-b"><%= link_to t('.logout'), destroy_user_session_path, data: {turbo_method: :delete } %></div>
        </div>
      </div>

      <!-- SP -->
      <div class="px-4 px-1 sp-only" data-controller="header">
        <div class="flex items-center py-2 cursor-pointer" data-action="click->header#dropDownMenu">
          <%= image_tag('sp-menu.png', size: '100x100', class: "w-9 h-8 px-1") %>
        </div>
        <div class="text-center hidden absolute right-0 p-4 border w-screen z-20 bg-white" data-header-target="menu">
          <div class="flex items-center justify-center border-b">
            <% if current_user.image.attached? %>
              <%= image_tag(image_url_helper(current_user.image.variant(resize_to_fill: [100,100])), class: "w-12 h-12 rounded-full p-1") %>
            <% else %>
              <%= image_tag('no-user-image.png', size: '100x100', class: "w-12 h-12 rounded-full p-1 border") %>
            <% end %>
            <p class="ml-2"><%= current_user.name.present? ? current_user.name : current_user.email %></p>
          </div>
          <div class="border-b"><%= link_to "マイページ", user_path(current_user) %></div>
          <div class="border-b"><%= link_to 'アドリアル一覧', user_advrials_path(current_user) %></div>
          <div class="border-b"><%= link_to t('.logout'), destroy_user_session_path, data: {turbo_method: :delete } %></div>
        </div>
      </div>
    <% end %>
  </div>
</nav>