<div class="flex w-full mb-2">
  <p class="py-1 w-1/2 text-center font-bold text-gray-400 border-b">
    <%= link_to(t("activerecord.models.user"), search_users_path) %>
  </p>
  <p class="py-1 w-1/2 text-center font-bold border-b border-green-600">
    <%= t("activerecord.models.advrial")%>
  </p>
</div>

<div class="w-full flex items-center mb-2">
  <%= search_form_for(@q, url: results_advrials_path, html: { class: "flex w-full" }) do |f| %>
    <div class="w-full mr-2">
      <%= f.search_field :title_or_description_cont, placeholder: t("search.advrial"), class: "w-full my-2", required: true %>
    </div>
    <div>
      <%= f.submit class: "btn" %>
    </div>
  <% end %>
</div>

<div>
  <% if @results.present? %>
    <% @results.each do |advrial| %>
      <div class="border my-2 mx-1 h-auto w-auto p-2">
        <div class="grid grid-cols-2 gap-4">
          <div class="flex items-center justify-center">
            <% if advrial.main_visual.attached? %>
              <%= link_to(image_tag(image_url_helper(advrial.main_visual.variant(resize_to_limit: [300,300])), class: "w-full"), advrial_path(advrial), 'data-turbo': false) %>
            <% else %>
              <%= link_to(image_tag('no-image.png', size: '300x300', class: "w-full"), advrial_path(advrial), 'data-turbo': false) %>
            <% end %>
          </div>
          <div class="flex flex-col">
            <p class="text-bold border-b mb-1 px-2 overflow-hidden whitespace-nowrap text-ellipsis">
              <%= advrial.title %>
            </p>
            <p class="border-b mb-2 px-2 text-sm text-gray-500">
              <%= l(advrial.start_date) %> 〜 <%= l(advrial.end_date) %>
            </p>
            <p class="border-b mb-2 px-2 text-sm">
                <%= advrial.advrial_category.name_in_locales %>
            </p>
            <div class="flex-1 border border-slate-500 border-dotted py-1 px-2 w-full">
              <%= simple_format(advrial.description, class: "sp-only text-xs break-all overflow-y-scroll line-clamp-[8]") %>
              <%= simple_format(advrial.description, class: "pc-only text-sm break-all overflow-y-scroll line-clamp-[20]") %>
            </div>
            <p class="text-xs text-gray-400">お気に入り機能実装予定</p>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <p class="text-gray-400 text-center"><%= t("search.not_found") %></p>
  <% end %>
</div>