<div class="p-2 d-flex justify-content-center align-items-center">
  <div class="text-center">
    <span class="inline-block"><%= @user.image.attached? ? image_tag(image_url_helper(@user.image.variant(resize_to_fill: [200, 200])), class: "w-20 h-20 rounded-full") : image_tag('no-user-image.png', size: '100x100', class: "w-20 h-20 rounded-full p-1 border") %></span>
  </div>
  <div class="text-center">
    <p class="font-bold w-max border-b px-2 mx-auto"><%= @user.name.present? ? @user.name : "No Name" %></p>
    <p class="px-2 text-sm"><%= "@#{@user.account_name}" %></p>
    <p><%= @user.following.count %><span class="text-sm text-gray-400"><%= t('users.show.following') %></span></p>
  </div>
</div>

<% if @following.present? %>
  <% @following.each do |user| %>
    <div class="flex items-center justify-between border-b">
      <div class="flex items-center p-2 cursor-pointer">
        <%= link_to(user_path(user), class: "flex items-center") do %>
          <% if user.image.attached? %>
            <%= image_tag(image_url_helper(user.image.variant(resize_to_fill: [100,100])), class: "ml-1 w-10 h-10 rounded-full") %>
          <% else %>
            <%= image_tag('no-user-image.png', size: '40x40', class: "w-10 h-10 rounded-full border p-1 ml-1") %>
          <% end %>
          <p class="px-1"><%= user.name.present? ? user.name : "@#{user.account_name}" %></p>
        <% end %>
      </div>
      <div>
        <% if user != current_user %>
          <% if current_user.following.include?(user) %>
            <i><%= link_to(image_tag('unfollow.png', size: '30x30', class: "inline mx-2"), user_relationship_path(user, current_user), data: { turbo_method: :delete }) %></i>
          <% else %>
            <i><%= link_to(image_tag('follow.png', size: '30x30', class: "inline mx-2"), user_relationships_path(user), data: { turbo_method: :post } ) %></i>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <p class="text-gray-400 text-center"><%= t('relationships.no_following') %></p>
<% end %>