<%= 
  render("layouts/shared/back",
    prev_path: user_path(@user),
    title: @user == current_user ? t("headers.my_advrials") : t('.title')
  )
%>

<div class="pc-only">
  <% if @user == current_user %>
     <h2><%= t("headers.my_advrials") %></h2>
  <% else %>
    <h2><%= t('.title') %></h2>
  <% end %>
</div>

<div class="flex items-center cursor-pointer w-max mt-2">
  <%= link_to(user_path(@user), class: "flex items-center") do %>
    <% if @user.image.attached? %>
      <%= image_tag(image_url_helper(@user.image.variant(resize_to_fill: [100,100])), class: "ml-1 w-10 h-10 rounded-full") %>
    <% else %>
      <%= image_tag('no-user-image.jpg', size: '40x40', class: "w-10 h-10 rounded-full border ml-1") %>
    <% end %>
    <div>
      <p class="px-1 text-sm"><%= @user.name.present? ? @user.name : "No Name" %></p>
      <p class="px-1 text-xs text-gray-400"><%= "@#{@user.account_name}" %>
    </div>
  <% end %>
</div>

<div>
  <% @advrials.each do |advrial| %>
    <%= turbo_frame_tag advrial do %>
      <div class="border my-2 mx-1 h-auto w-auto p-2">
        <% if advrial.user == current_user %>
          <i><%= link_to(image_tag('pencil.png', size: '16x16', class: "float-right"), edit_advrial_path(advrial)) %></i>
        <% end %>
        <div class="grid grid-cols-2 gap-4">
          <div class="flex items-center justify-center">
            <% if advrial.main_visual.attached? %>
              <%= link_to(image_tag(image_url_helper(advrial.main_visual.variant(resize_to_limit: [300,300])), class: "w-full"), advrial_path(advrial), 'data-turbo': false) %>
            <% else %>
              <%= link_to(image_tag('no-image.png', size: '300x300', class: "w-full"), advrial_path(advrial), 'data-turbo': false) %>
            <% end %>
          </div>
          <div class="flex flex-col">
            <p class="text-bold border-b mb-1 px-2 overflow-hidden whitespace-nowrap text-ellipsis">
              <%= advrial.title %>
            </p>
            <p class="border-b mb-2 px-2 text-sm text-gray-500">
              <%= l(advrial.start_date) %> 〜 <%= l(advrial.end_date) %>
            </p>
            <p class="border-b mb-2 px-2 text-sm">
                <%= advrial.advrial_category.name_in_locales %>
            </p>
            <div class="flex-1 border border-slate-500 border-dotted py-1 px-2 w-full">
              <%= simple_format(advrial.description, class: "sp-only text-xs break-all overflow-y-scroll line-clamp-[8]") %>
              <%= simple_format(advrial.description, class: "pc-only text-sm break-all overflow-y-scroll line-clamp-[20]") %>
            </div>
            <p class="text-xs text-gray-400">お気に入り機能実装予定</p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <p class="text-right px-2"><%= t("common.count", count: @advrials.count) %></p>
</div>
