<%= 
  render("layouts/shared/back",
    prev_path: "javascript:history.back()",
    title: t('.title')
  )
%>

<%= form_with model: @advrial, url: advrials_path do |f|%>
  <%= render "shared/error_messages", resource: @advrial %>

  <div class="field">
    <label>
      <span class="block"><%= t('activerecord.attributes.advrial.main_visual') %></span>
    <label>
    <%= f.file_field :main_visual, accept: "image/jpeg,image/gif,image/png", class: "w-full" %>
    <%= render 'shared/validation_error', f: f, column: :main_visual %>
  </div>

  <div class="field">
    <%= f.label :title, class: 'block' %>
    <%= f.text_field :title, requre: true, class: "w-full"  %>
    <%= render 'shared/validation_error', f: f, column: :title %>
  </div>

  <div class="field">
    <%= f.label :start_date, class: 'block' %>
    <%= f.date_field :start_date, value: Date.current, requre: true, class: "w-full" %>
    <%= render 'shared/validation_error', f: f, column: :start_date %>
  </div>

  <div class="field">
    <%= f.label :end_date, class: 'block' %>
    <%= f.date_field :end_date, require: true, class: "w-full" %>
    <%= render 'shared/validation_error', f: f, column: :end_date %>
  </div>

  <div class="field">
    <%= f.label :advrial_category, class: 'block' %>
    <%= f.select :advrial_category_id, @advrial_categories.map{ |advrial_category| [advrial_category.name_in_locales, advrial_category.id] }, {}, class: "w-full" %>
    <%= render 'shared/validation_error', f: f, column: :advrial_category %>
  </div>

  <div class="field">
    <%= f.label :description, class: 'block' %>
    <%= f.text_area :description, class: "w-full" %>
    <%= render 'shared/validation_error', f: f, column: :description%>
  </div>

  <div class="field w-full flex items-center">
    <%= f.check_box :public %>
    <p class="text-sm ml-2"><%= t('.public') %></p>
  </div>

  <p class="text-sm"><%= t('.description') %></p>
  
  <div class="pt-8">
    <%= f.submit t('common.actions.create.submit'), class: "btn w-full block" %>
    <%= link_to t('common.actions.create.back'), root_path, class: "backBtn w-full block" %>
  </div>
<% end %>