<div>
  <h2><%= @advrial.title %></h2>
  <% if @advrial.start_date == @advrial.end_date %>
    <p><%= l(@advrial.end_date) %></p>
  <% else %>
    <p class="px-1"><%= l(@advrial.start_date) %> 〜 <%= l(@advrial.end_date) %></p>
  <% end %>
  <div class="flex items-center py-2 cursor-pointer">
    <%= link_to(user_path(@advrial.user), class: "flex items-center") do %>
      <% if current_user.image.attached? %>
        <%= image_tag(image_url_helper(current_user.image.variant(resize_to_fill: [100,100])), class: "ml-1 w-10 h-10 rounded-full") %>
      <% else %>
        <%= image_tag('no-user-image.png', size: '40x40', class: "w-10 h-10 rounded-full border p-1 ml-1") %>
      <% end %>
      <p class="px-1"><%= @advrial.user.name.present? ? @advrial.user.name : @advrial.user.account_name %></p>
    <% end %>
  </div>
</div>

<%= link_to(t('.create'), new_advrial_place_path(@advrial), class: "btn block text-center") if !@advrial.completed_trip %>
<%= button_to(t('.completed_trip'), completed_advrial_path(@advrial), class: "backBtn text-center w-full", data: { turbo_confirm: t('.confirm') }, method: :post) if !@advrial.completed_trip %>

<div class="place-content-center">
  <% @places.each do |place| %>
    <div class="border my-2 mx-1 h-auto w-auto p-2">
      <i><%= link_to(image_tag('pencil.png', size: '16x16', class: "float-right"), edit_advrial_place_path(@advrial, place)) %></i>
      <div class="grid grid-cols-2 gap-4">
        <div class="flex items-center justify-center">
          <% if place.images.attached? %>
            <%= link_to(image_tag(image_url_helper(place.images.first.variant(resize_to_limit: [300,300])), class: "w-full"), advrial_place_path(@advrial, place), 'data-turbo': false) %>
          <% else %>
            <%= link_to(image_tag('no-image.png', size: '300x300', class: "w-full"), advrial_place_path(@advrial, place), 'data-turbo': false) %>
          <% end %>
        </div>
        <div class="flex flex-col">
          <p class="text-xl text-bold border-b mb-1 px-2 overflow-hidden whitespace-nowrap text-ellipsis">
            <%= place.place_name %>
          </p>
          <p class="text-sm border-b mb-1 px-2 overflow-hidden whitespace-nowrap text-ellipsis">
            <%= place.address %>
          </p>
          <p class="border-b mb-2 px-2">
            <%= l(place.date_time, format: :time) %>
          </p>
          <div class="flex-1 border border-slate-500 border-dotted py-1 px-2 w-full">
            <%= simple_format(place.description, class: "sp-only text-xs break-all overflow-y-scroll line-clamp-[8]") %>
            <%= simple_format(place.description, class: "pc-only text-sm break-all overflow-y-scroll line-clamp-[20]") %>
          </div>
          <p class="text-xs text-gray-400">お気に入り機能実装予定</p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="pt-8 text-center">
  <%= link_to t('common.actions.back'), user_advrials_path(current_user), class: "backBtn" %>
</div>