<%= 
  render("layouts/shared/back",
    prev_path:
      if request.referer&.include?("new") || request.referer&.include?("edit")
        user_advrials_path(@advrial.user)
      else
        "javascript:history.back()"
      end,
    title: @advrial.title
  )
%>


<% if @advrial.main_visual.attached? %>
  <div class="bg-cover bg-center h-64 flex flex-col justify-end" style="background-image: url('<%= url_for(@advrial.main_visual) %>')">
    <div class="px-2">
      <h2 class="text-white text-3xl"><%= @advrial.title %></h2>
      <% if @advrial.start_date.present? && @advrial.end_date.present? %>
        <% if @advrial.start_date == @advrial.end_date %>
          <p class="text-white font-semibold"><%= l(@advrial.end_date) %></p>
        <% else %>
          <p class="px-1 text-white font-semibold"><%= l(@advrial.start_date) %> 〜 <%= l(@advrial.end_date) %></p>
        <% end %>
      <% elsif @advrial.start_date.present? || @advrial.end_date.present? %>
        <p class="px-1 text-white font-semibold"><%= l(@advrial.start_date) if @advrial.start_date.present? %> 〜 <%= l(@advrial.end_date) if @advrial.end_date.present? %></p>
      <% end %>
      <div class="flex items-center py-2">
        <%= link_to(user_path(@advrial.user), class: "flex items-center w-max") do %>
          <% if @advrial.user.image.attached? %>
            <%= image_tag(image_url_helper(@advrial.user.image.variant(resize_to_fill: [100,100])), class: "ml-1 w-10 h-10 rounded-full") %>
          <% else %>
            <%= image_tag('no-user-image.jpg', size: '40x40', class: "w-10 h-10 rounded-full border ml-1") %>
          <% end %>
          <p class="px-1 text-white"><%= @advrial.user.name.present? ? @advrial.user.name : @advrial.user.account_name %></p>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div class="bg-gray-200 h-64 flex flex-col justify-end">
    <div class="px-2">
      <h2 class="font-bold"><%= @advrial.title %></h2>
      <% if @advrial.start_date.present? && @advrial.end_date.present? %>
        <% if @advrial.start_date == @advrial.end_date %>
          <p class="font-semibold"><%= l(@advrial.end_date) %></p>
        <% else %>
          <p class="px-1 font-semibold"><%= l(@advrial.start_date) %> 〜 <%= l(@advrial.end_date) %></p>
        <% end %>
      <% elsif @advrial.start_date.present? || @advrial.end_date.present? %>
        <p class="px-1 font-semibold"><%= l(@advrial.start_date) if @advrial.start_date.present? %> 〜 <%= l(@advrial.end_date) if @advrial.end_date.present? %></p>
      <% end %>
      <div class="flex items-center py-2 cursor-pointer">
        <%= link_to(user_path(@advrial.user), class: "flex items-center") do %>
          <% if @advrial.user.image.attached? %>
            <%= image_tag(image_url_helper(@advrial.user.image.variant(resize_to_fill: [100,100])), class: "ml-1 w-10 h-10 rounded-full") %>
          <% else %>
            <%= image_tag('no-user-image.jpg', size: '40x40', class: "w-10 h-10 rounded-full border ml-1") %>
          <% end %>
          <p class="px-1 font-semibold"><%= @advrial.user.name.present? ? @advrial.user.name : @advrial.user.account_name %></p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% if @advrial.user == current_user %>
  <%= link_to(t('.add'), edit_advrial_advrial_places_path(@advrial), class: "btn block w-full text-center") %>
<% end %>

<div>
  <% @places.each do |place| %>
    <%= link_to(user_place_path(@advrial.user, place),'data-turbo': false) do %>
      <div class="border my-2 mx-1 h-auto w-auto p-2">
        <div class="grid grid-cols-4 gap-4">
          <div class="flex flex-col justify-center col-span-1">
            <p class="border-b mb-1 px-2">
              <%= l(place.date_time, format: :day) %>
            </p>
            <p class="text-xl text-bold border-b mb-1 px-2 overflow-hidden whitespace-nowrap text-ellipsis">
              <%= l(place.date_time, format: :time) %>
            </p>
            <p class="text-xs text-bold border-b mb-1 px-2 overflow-hidden whitespace-nowrap text-ellipsis text-gray-400">お気に入り実装予定</p>
          </div>
          <div class="flex flex-col justify-center col-span-2">
            <p class="text-xl font-semibold mb-1 px-2 overflow-hidden whitespace-nowrap text-ellipsis">
              <%= place.place_name %>
            </p>
            <p class="text-sm border-b mb-1 px-2 overflow-hidden whitespace-nowrap text-ellipsis">
              <%= place.address %>
            </p>
          </div>
          <div class="flex items-center justify-center col-span-1">
            <% if place.images.attached? %>
              <%= image_tag(image_url_helper(place.images.first.variant(resize_to_limit: [300,300])), class: "w-full") %>
            <% else %>
              <%= image_tag('no-image.png', size: '300x300', class: "w-full") %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<% if @advrial.user == current_user %>
  <p class="text-xs text-gray-400 text-right"><%= t(".public") %></p>
<% end %>