<div>
  <h2><%=t('.title') %></h2>
</div>

<%= form_with model: @user do |f|%>
  <%= render "shared/error_messages", resource: @user %>
  <div class="border p-2">
    <div class="border-b flex justify-center items-center" data-controller="select-image">
      <label>
        <span class="block font-semibold border-b w-max"><%= t('activerecord.attributes.user.image') %></span>
      <label>
      <div class="my-2 inline-flex justify-center w-full">
        <%= f.label :image do %>
          <% if @user.image.attached? %>
            <%= image_tag(image_url_helper(@user.image.variant(resize_to_fill: [200, 200])), class: "cursor-pointer w-24 h-24 rounded-full", data: { select_image_target: "image" }) %>
          <% else %>
            <%= image_tag('no-user-image.jpg', size: '200x200', class: "cursor-pointer w-24 h-24 rounded-full border", data: { select_image_target: "image" }) %>
          <% end %>
          <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png", class: "hidden", data: { action: "change->select-image#fileChange" } %>
          <%= render 'shared/validation_error', f: f, column: :image %>
        <% end %>
      </div>
    </div>

    <div class="border-b">
      <%= f.label :name, class: 'block font-semibold border-b w-max' %>
      <%= f.text_field :name, class: "my-2 w-full" %>
      <%= render 'shared/validation_error', f: f, column: :name %>
    </div>

    <div class="border-b">
      <%= f.label :account_name, class: 'block font-semibold border-b w-max' %>
      <%= f.text_field :account_name, class: "my-2 w-full" %>
      <%= render 'shared/validation_error', f: f, column: :account_name %>
    </div>

    <div class="border-b">
      <%= f.label :email, class: 'block font-semibold border-b w-max' %>
      <%= f.email_field :email, class: "my-2 w-full" %>
      <%= render 'shared/validation_error', f: f, column: :email %>
    </div>

    <div class="border-b">
      <%= f.label :date_of_birth, class: 'block font-semibold border-b w-max' %>
      <%= f.date_field :date_of_birth, class: "my-2 w-full" %>
    </div>

    <div class="border-b">
      <%= f.label :gender, class: 'block font-semibold border-b w-max' %>
      <%= f.select :gender, User.genders.keys.map { |key| [t("enums.user.gender.#{key}"), key] }, {}, class: "my-2 w-full" %>
    </div>

    <div class="border-b">
      <%= f.label :url, class: 'block font-semibold border-b w-max' %>
      <%= f.url_field :url, class: "my-2 w-full" %>
      <%= render 'shared/validation_error', f: f, column: :url %>
    </div>

    <div class="border-b">
      <%= f.label :introduce, class: 'block font-semibold border-b w-max' %>
      <%= f.text_area :introduce, class: "my-2 w-full" %>
    </div>

    <div class="mt-4">
      <%= f.submit t('.submit'), class: "btn w-full block" %>
      <%= link_to t('.back'), user_path(@user), class: "backBtn w-full block" %>
    </div>
  </div>
<% end %>



