<div>
  <h2><%=t('.title') %></h2>
</div>

<div>
  <dt><%= User.human_attribute_name(:image) %></dt>
  <dd><%= image_tag(image_url_helper(@user.image), size: '300x300') if @user.attached? %></dd>
</div>

<div>
  <dt><%= User.human_attribute_name(:account_name) %></dt>
  <dd><%= @user.account_name %></dd>
</div>

<div>
  <dt><%= User.human_attribute_name(:name) %></dt>
  <dd><%= @user.name %></dd>
</div>

<div>
  <dt><%= User.human_attribute_name(:email) %></dt>
  <dd><%= @user.email %></dd>
</div>

<div>
  <dt><%= User.human_attribute_name(:date_of_birth) %></dt>
  <dd><%= l(@user.date_of_birth) if @user.date_of_birth.present? %></dd>
</div>

<div>
  <dt><%= User.human_attribute_name(:gender) %></dt>
  <dd><%= t("enums.user.gender.#{@user.gender}") %></dd>
</div>

<div>
  <dt><%= User.human_attribute_name(:url) %></dt>
  <dd><%= @user.url %></dd>
</div>

<div>
  <dt><%= User.human_attribute_name(:introduce) %></dt>
  <dd><%= @user.introduce %></dd>
</div>

<div class="pt-8 pb-24 space-x-2">
  <%= link_to t('.edit'), edit_user_path(@user), class: "btn" %>
  <%= link_to t('.top'), root_path, class: "backBtn" %>
</div>