<%= 
  render("layouts/shared/back",
    prev_path:
      if request.referer&.include?("following") || request.referer&.include?("followers")
        "javascript:history.back()"
      else
        root_path
      end,
    title: @user.name.present? ? "#{@user.name} / @#{@user.account_name}" : "No Name / @#{@user.account_name}"
  )
%>

<div class="border-b">
  <div class="border p-2">
    <div class="flex justify-between">
      <span class="inline-block"><%= @user.image.attached? ? image_tag(image_url_helper(@user.image.variant(resize_to_fill: [200, 200])), class: "w-24 h-24 rounded-full") : image_tag('no-user-image.jpg', size: '100x100', class: "w-24 h-24 rounded-full border") %></span>
      <% if current_user == @user %>
        <i><%= link_to(image_tag('pencil.png', size: '16x16', class: "inline"), edit_user_path(@user)) %></i>
      <% else %>
        <% if current_user.following.include?(@user) %>
          <i><%= link_to(image_tag('unfollow.png', size: '30x30', class: "inline mx-2"), user_relationship_path(@user, current_user), data: { turbo_method: :delete }) %></i>
        <% else %>
          <i><%= link_to(image_tag('follow.png', size: '30x30', class: "inline mx-2"), user_relationships_path(@user), data: { turbo_method: :post } ) %></i>
        <% end %>
      <% end %>
    </div>
    <div class="flex justify-between items-end">
      <div>
        <p class="font-bold w-max border-b px-2"><%= @user.name.present? ? @user.name : "No Name" %></p>
        <p class="px-2 text-sm"><%= "@#{@user.account_name}" %></p>
      </div>
      <div class="flex">
        <%= link_to(user_following_path(@user)) do %>
          <p><%= @user.following.count %><span class="text-gray-400 text-sm"><%= t('.following') %></span></p>
        <% end %>
        <%= link_to(user_followers_path(@user)) do %>
          <p class="ml-1"><%= @user.followers.count %><span class="text-gray-400 text-sm"><%= t('.followers') %></span></p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="mt-2 px-2">
  <div class="border-b p-1">
    <dt class="block font-semibold w-max border-b"><%= User.human_attribute_name(:introduce) %></dt>
    <dd class="my-1"><%= simple_format(@user.introduce, class: "text-sm") %></dd>
  </div>

  <div class="border-b p-1">
    <dt class="block font-semibold w-max border-b"><%= User.human_attribute_name(:url) %></dt>
    <dd class="my-1 text-sm"><%= link_to(nil, @user.url, class: "") %></dd>
  </div>
</div>

<div class="mt-4 mb-2 px-1 flex items-center justify-between">
  <h2 class="text-base border-b w-max"><%=t(".public_advrial") %></h2>
  <p class="px-2"><%= t("common.count", count: @user.advrials.where(completed_trip: true, public: true).count) %></p>
</div>

  <% if @user.advrials.where(completed_trip: true, public: true).present? %>
    <div>
      <% @user.advrials.where(completed_trip: true, public: true).sort_by(&:returns_home_at).reverse.first(3).each do |advrial| %>
        <div class="border my-2 mx-1 h-auto w-auto p-2">
          <div class="grid grid-cols-2 gap-4">
            <div class="flex items-center justify-center">
              <% if advrial.main_visual.attached? %>
                <%= link_to(image_tag(image_url_helper(advrial.main_visual.variant(resize_to_limit: [300,300])), class: "w-full"), advrial_path(advrial), 'data-turbo': false) %>
              <% else %>
                <%= link_to(image_tag('no-image.png', size: '3000x300', class: "w-full"), advrial_path(advrial), 'data-turbo': false) %>
              <% end %>
            </div>
            <div class="flex flex-col">
              <p class="text-xl text-bold border-b mb-1 px-2 overflow-hidden whitespace-nowrap text-ellipsis">
                <%= advrial.title %>
              </p>
              <p class="border-b mb-2 px-2">
                <%= l(advrial.start_date) %> 〜 <%= l(advrial.end_date) %>
              </p>
              <p class="border-b mb-2 px-2">
                  <%= advrial.advrial_category.name_in_locales %>
              </p>
              <div class="flex-1 border border-slate-500 border-dotted py-1 px-2 w-full">
                <%= simple_format(advrial.description, class: "sp-only text-xs break-all overflow-y-scroll line-clamp-[8]") %>
                <%= simple_format(advrial.description, class: "pc-only text-sm break-all overflow-y-scroll line-clamp-[20]") %>
              </div>
              <p class="text-xs text-gray-400">お気に入り機能実装予定</p>
            </div>
          </div>
        </div>
      <% end %>
      <%= link_to(t(".show_all"), user_advrials_path(@user), class: "backBtn w-full block") %>
    </div>
  <% else %>
    <p class="text-gray-400 text-center"><%= t(".no_advrials") %></p>
  <% end %>