<%= form_with model: @place, url: url do |f|%>
  <%= render "shared/error_messages", resource: @place %>

  <div class="field"  data-controller="select-image">
    <%= f.label :images, class: "block" %>
      <%= f.file_field :images, multiple: true, accept: "image/jpeg,image/gif,image/png", data: { action: "change->select-image#filesChange" }, class: "w-full" %>
      <%= render 'shared/validation_error', f: f, column: :images %>
      <p class="text-xs w-full"><%= t('places.edit.image_limit') %></p>
    <div id="preview_images" style="display:none" class="overflow-x-scroll mt-2">
      <p id="preview"></p>
    </div>
    <% if @place.images.attached? %>
      <div class="flex mt-2">
      <% @place.images.each do |image|%>
        <% if image.persisted? %>
          <div>
            <%= image_tag(image_url_helper(image.variant(resize_to_fill: [200,200])), class: "p-1 w-24") %>
            <span class="flex items-center px-1">
              <%= f.check_box :image_ids, { multiple: true }, image.id, false %>
              <p class="text-xs ml-2"><%= t('common.actions.delete') %></p>
            </span>
          </div>
        <% end %>
      <% end %>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :place_name, class: 'block' %>
    <%= f.text_field :place_name, required: true, class: "w-full" %>
    <%= render 'shared/validation_error', f: f, column: :place_name %>
  </div>

  <div class="field">
    <%= f.label :address, class: 'block' %>
    <p id="text_address"><%= @place.address if action_name == 'edit' %></p>
    <%= f.hidden_field :address, class: "w-full" %>
    <%= render 'shared/validation_error', f: f, column: :address %>
  </div>

  <%= f.hidden_field :latitude, class: "latitude" %>
  <%= f.hidden_field :longitude, class: "longitude" %>

  <div id="map" class="w-auto"></div>
  <p class="text-sm"><%= t('places.marker_description') %></p>


  <div class="field">
    <%= f.label :date_time, class: 'block' %>
    <%= f.datetime_local_field :date_time, value: @place.date_time.present? ? @place.date_time.strftime('%Y-%m-%dT%H:%M') : Time.current.strftime('%Y-%m-%dT%H:%M'), class: "w-full" %>
    <%= render 'shared/validation_error', f: f, column: :date_time %>
  </div>

  <div class="field">
    <%= f.label :description, class: 'block' %>
    <%= f.text_area :description, class: "w-full" %>
    <%= render 'shared/validation_error', f: f, column: :description %>
  </div>

  <div class="field w-full flex items-center">
    <%= f.check_box :public %>
    <p class="text-sm ml-2"><%= t('advrials.new.public') %></p>
  </div>

  <% if isNew %>
    <p class="text-sm"><%= t('places.description') %></p>
  <% end %>

  <div class="mt-4">
    <%= f.submit text, class: "btn w-full block", 'data-turbo': false %>
    <% if isNew %>
      <%= link_to(t('common.actions.create.back'), user_places_path(current_user), class: "backBtn w-full block pc-only") %>
    <% else %>
      <%= link_to(t('common.actions.edit.cancel'), user_place_path(current_user, @place), class: "backBtn w-full block pc-only", 'data-turbo': false ) %>
    <% end %>
  </div>
<% end %>

<% unless isNew %>
  <div class="flex justify-center items-center mt-6">
    <%= button_to(t('common.actions.delete'), user_place_path(current_user, @place),class: "deleteBtn", data: { turbo_confirm: t('common.actions.delete_confirm') }, method: :delete) %>
  </div>
<% end %>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google[:api_key] %>&callback=initMap" async defer></script>