<div>
  <h2><%=t('.title') %></h2>
</div>

<%= form_with model: @place, url: advrial_places_path(@advrial) do |f|%>
  <%= render "shared/error_messages", resource: @place %>

  <div class="field">
    <label>
      <span class="block"><%= t('activerecord.attributes.place.images') %></span>
    <label>
    <%= f.file_field :images %>
    <%= render 'shared/validation_error', f: f, column: :images %>
  </div>

  <div class="field">
    <%= f.label :place_name, class: 'block' %>
    <%= f.text_field :place_name %>
    <%= render 'shared/validation_error', f: f, column: :place_name %>
  </div>

  <div class="field">
    <%= f.label :address, class: 'block' %>
    <%= f.text_field :address %>
    <%= render 'shared/validation_error', f: f, column: :address %>
  </div>

  <%= f.text_field :latitude, class: "latitude" %>
  <%= f.text_field :longitude, class: "longitude" %>

  <div id="map" data-turbolinks="false"></div>

<!--
  <div class="field">
    <%= f.label :date_time, class: 'block' %>
    <%= f.date_field :date_time %>
    <%= render 'shared/validation_error', f: f, column: :date_time %>
  </div>
-->
  <div class="field">
    <%= f.label :description, class: 'block' %>
    <%= f.text_area :description %>
    <%= render 'shared/validation_error', f: f, column: :description%>
  </div>

  <div class="pt-8 pb-24 space-x-2">
    <%= f.submit t('common.actions.create.submit'), class: "btn" %>
    <%= link_to t('common.actions.create.back'), root_path, class: "backBtn" %>
  </div>

  <style>
    #map{
      height: 400px;
      width: 400px;
    }
  </style>
  <script>
    let map;

    function initMap() {
      // 位置情報を取得
      navigator.geolocation.getCurrentPosition(function (position) {
        let LatLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

        // APIのジオコーダを使い、緯度経度から住所を割り出す（逆ジオコーディング）
        let geocoder = new google.maps.Geocoder();
        geocoder.geocode(
          {
            latLng: LatLng
          },
          function(results, status) {
            let address = "";
            if (status == google.maps.GeocoderStatus.OK) {
              // 取得が成功した場合、住所を取得します。
              address = results[0].formatted_address.replace(/^日本、/, '');
            } else {
              alert('Error:' + status);
            }
            // 住所の結果表示をします。
            document.getElementById('place_address').value = address;
          }
        );

        document.getElementById('place_latitude').value = position.coords.latitude
        document.getElementById('place_longitude').value = position.coords.longitude
      
        // 取得した位置情報を中心に表示
        map = new google.maps.Map(document.getElementById('map'), {
          center: LatLng,
          zoom: 18
        });

        // 取得した位置にピンをセット
        marker = new google.maps.Marker({
          position: LatLng,
          map,
          draggable: true
        });


        // ピンを移動させたときに、緯度経度を変更する
        google.maps.event.addListener(marker, 'dragend', function(ev){
          document.getElementById('place_latitude').value = ev.latLng.lat();
          document.getElementById('place_longitude').value = ev.latLng.lng();

          LatLng = new google.maps.LatLng(ev.latLng.lat(), ev.latLng.lng());

          // ピン移動時、再度住所を割り出す
          geocoder.geocode(
            {
              latLng: LatLng
            },
            function(results, status) {
              let address = "";
              if (status == google.maps.GeocoderStatus.OK) {
                // 取得が成功した場合、住所を取得します。
                address = results[0].formatted_address.replace(/^日本、/, '');
              } else {
                alert('Error:' + status);
              }
              // 住所の結果表示をします。
              document.getElementById('place_address').value = address;
            }
          );
        });
      });
    }
  </script>
<% end %>