<div>
  <h2><%=t('.title') %></h2>
</div>

<%= form_with model: @place, url: advrial_places_path(@advrial) do |f|%>
  <%= render "shared/error_messages", resource: @place %>

  <div class="field">
    <label>
      <span class="block"><%= t('activerecord.attributes.place.images') %></span>
    <label>
    <%= f.file_field :images %>
    <%= render 'shared/validation_error', f: f, column: :images %>
  </div>

  <div class="field">
    <%= f.label :place_name, class: 'block' %>
    <%= f.text_field :place_name %>
    <%= render 'shared/validation_error', f: f, column: :place_name %>
  </div>

  <div class="field">
    <%= f.label :address, class: 'block' %>
    <%= f.text_field :address %>
    <%= render 'shared/validation_error', f: f, column: :address %>
  </div>

  <%= f.text_field :latitude, class: "latitude" %>
  <%= f.text_field :longitude, class: "longitude" %>

  <div id="map" data-turbolinks="false"></div>

<!--
  <div class="field">
    <%= f.label :date_time, class: 'block' %>
    <%= f.date_field :date_time %>
    <%= render 'shared/validation_error', f: f, column: :date_time %>
  </div>
-->
  <div class="field">
    <%= f.label :description, class: 'block' %>
    <%= f.text_area :description %>
    <%= render 'shared/validation_error', f: f, column: :description%>
  </div>

  <div class="pt-8 pb-24 space-x-2">
    <%= f.submit t('common.actions.create.submit'), class: "btn" %>
    <%= link_to t('common.actions.create.back'), root_path, class: "backBtn" %>
  </div>

  <style>
    #map{
      height: 400px;
      width: 400px;
    }
  </style>
  <script>
    let map;

    console.log(document.getElementById('place_latitude').value)
    console.log(document.getElementById('place_longitude').value)

    function initMap() {
      // 位置情報を取得
      navigator.geolocation.getCurrentPosition(function (position) {
      LatLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

        document.getElementById('place_latitude').value = position.coords.latitude
        document.getElementById('place_longitude').value = position.coords.longitude
      
        // 取得した位置情報を中心に表示
        map = new google.maps.Map(document.getElementById('map'), {
          center: LatLng,
          zoom: 18
        });

        // 取得した位置にピンをセット
        new google.maps.Marker({
          position: LatLng,
          map
        });
      });
    }

    // 取得した経度緯度から住所を割り出す
    // function getAddress(){}
  </script>
<% end %>