<div class="flex items-center justify-between mx-1">
  <h2><%= @place.place_name %></h2>
  <% if @advrial.user == current_user %>
    <i><%= link_to(image_tag('pencil.png', size: '16x16', class: "float-right"), edit_advrial_place_path(@advrial, @place)) %></i>
  <% end %>
</div>

<div class="border my-2 px-1">
  <div class="swiper-container m-4 relative">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper flex items-center">
        <!-- Slides -->
        <% if @place.images.attached? %>
          <% @place.images.each do |image| %>
            <div class="swiper-slide"><%= image_tag(image_url_helper(image.variant(resize_to_limit: [800,800])), class: "m-auto px-4") %></div>
          <% end %>
        <% else %>
          <div class="mx-auto"><%= image_tag('no-image.png') %></div>
        <% end %>
    </div>
    <div class="swiper-pagination absolute"></div>
    <div class="swiper-button-prev absolute"></div>
    <div class="swiper-button-next absolute"></div>
  </div>

  <p class="font-semibold px-1 border-b w-max"><%= Place.human_attribute_name(:address) %></p>
  <div class="mb-2">
    <p class="text-sm"><%= @place.address %></p>
    <div id="map" class="w-auto"></div>
    <p id="place_latitude" class="hidden"><%= @place.latitude %></p>
    <p id="place_longitude" class="hidden"><%= @place.longitude %></p>
  </div>

  <p class="font-semibold px-1 border-b w-max"><%= Place.human_attribute_name(:description) %></p>
  <div class="border border-slate-500 border-dotted px-2 my-2">
    <%= simple_format(@place.description, class: "p-1 text-sm break-all overflow-y-scroll line-clamp-[20]") %>
  </div>
</div>

<div class="pt-8 text-center">
  <%= link_to t('common.actions.back'), advrial_path(@advrial), class: "backBtn" %>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google[:api_key] %>&callback=initMap" async defer></script>
<script>
  function initMap() {
    // 位置情報を取得
      let geocoder = new google.maps.Geocoder();
      let map;
      let inputLat = document.getElementById('place_latitude')
      let inputLng = document.getElementById('place_longitude')
      let inputAddress = document.getElementById('place_address')
      let LatLng = new google.maps.LatLng(inputLat.textContent, inputLng.textContent);
    
      // 取得した位置情報を中心に表示
      map = new google.maps.Map(document.getElementById('map'), {
        center: LatLng,
        zoom: 18
      });

      // 取得した位置にピンをセット
      marker = new google.maps.Marker({
        position: LatLng,
        map
      });
    }

	const swiper = new Swiper('.swiper-container', {
		navigation: {
			nextEl: '.swiper-button-next',
			prevEl: '.swiper-button-prev',
		},
    loop: true,
    pagination: {
        el: '.swiper-pagination',
        type: 'bullets',
      },
	});

</script>